TURSO_DATABASE_URL=libsql://umadle-joaopma23.aws-eu-west-1.turso.io
TURSO_AUTH_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJqdGkiOiJ5bUt6Y0N0X0VmR1pneVp1ZUhFWDFnIn0.b5kRg4dHZSygzRqM9wpKO7OAnOjUnZRHFe0zuS-tBCAnzi0igN4HFZRVxIwmUhzylfwJ1B58rkz7porWuhpvCg
ADMIN_SECRET=cjpcgamer1
